<h2 class="font-bold text-lg">Resultados</h2>
<% rows = [] %>
<div id="chart" style="width: 100%; height: 400px;"></div>
<div id="chart_ativo_vs_passivo" style="width: 100%; height: 400px;"></div>
<div id="chart_receita_vs_custo" style="width: 100%; height: 400px;"></div>

<h3>Dados Extraídos:</h3>
<table class="table-auto border-collapse border border-gray-400 w-full">
  <thead>
    <tr>
      <th class="border border-gray-300 px-4 py-2">Categoria</th>
      <% chart_data.keys.each do |year| %>
        <th class="border border-gray-300 px-4 py-2"><%= year %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% data.each do |row| %>
      <tr>
        <td class="border border-gray-300 px-4 py-2"><%= row["categoria"] %></td>
        <% chart_data.keys.each do |year| %>
          <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(row[year], unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="chart" style="width: 100%; height: 400px;"></div>
<div id="chart_ativo_vs_passivo" style="width: 100%; height: 400px;"></div>
<div id="chart_receita_vs_custo" style="width: 100%; height: 400px;"></div>
<script>
    const data = <%= raw(chart_data.to_json) %>;
    const receita_vs_custo = <%= raw(receita_vs_custo.to_json) %>;
    const ativo_vs_passivo = <%= raw(ativo_vs_passivo.to_json) %>;
    
    console.log("Turbo carregado com sucesso!");
    Highcharts.chart('chart', {
      chart: { type: 'line' },
      title: { text: 'Valores ao Longo dos Anos' },
      xAxis: { categories: Object.keys(data) },
      yAxis: { title: { text: 'Valor Total' } },
      series: [{
        name: 'Valores',
        data: Object.values(data)
      }]
    });

    Highcharts.chart('chart_ativo_vs_passivo', {
      chart: { type: 'line' },
      title: { text: 'Ativo vs. Passivo' },
      xAxis: { categories: [2018, 2019, 2020, 2021, 2022, 2023] },
      yAxis: { title: { text: 'Valores em R$' } },
      series: [
        { name: 'Ativo Total', data: ativo_vs_passivo.ativo },
        { name: 'Passivo Total', data: ativo_vs_passivo.passivo }
      ]
    });

    Highcharts.chart('chart_receita_vs_custo', {
      chart: { type: 'column' },
      title: { text: 'Receita vs. Custo dos Bens Vendidos' },
      xAxis: { categories: [2018, 2019, 2020, 2021, 2022, 2023] },
      yAxis: { title: { text: 'Valores em R$' } },
      series: [
        { name: 'Receita de Vendas', data: receita_vs_custo.receita },
        { name: 'Custo dos Bens Vendidos', data: receita_vs_custo.custo }
      ]
    });

</script>
<style>
  .table-auto {
    margin-top: 1rem;
    border-collapse: collapse;
  }

  .border {
    border: 1px solid #ddd;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .font-bold {
    font-weight: bold;
  }
</style>
